* {
	box-sizing: border-box;
}

.body{
	background-color: gray;
	align-content: center;
	text-align: center;
	
}

p{
	color:blue;
	font-size:20px;
	text-align: center;

}

.common{
	font-size: 25px !important;
	color: white  !important;
	background: #C39B77 !important;
	opacity: 0.8;
}

#other{
	font-size: 25px;
	color: forestgreen;
}

h1:hover{
	color: black;
}


#heading{
	color: blue;
	width: fill;
	height: 500px;
	margin: 20px;
	padding: 20px;
	border: solid red 5px;
	overflow: auto;
	background-color: white;
	background-image:url("nature.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#paragraph>#p1,#p2,#p4
 {
	height: 400px;
	width: 400px;
	border: solid black 3px;
	float: left;
	margin: 5px;
}

#p1{
	background-color: red;

}

#p2{
	
	background-color: green;

	
}

#p3{
	height:fill;
	width: 200px;
	float: right;
	background-color: blue;
	display: inline;
}

#p4{
	
	background-color: yellow;
}
#image{
	clear: both;
	display: block;

}