* {
	box-sizing: border-box;
}

body{
	font-family:arial, monospace, sans-serif;
	font: monospace;
	font-size: 100%;
	background-color: lightgray;	
}


#mainpart{
	height: fill;
	background-color: skyblue;
	width: 70%;
	display: inline-block;
	border: solid black 1px;
	padding: 15px;
	overflow: auto;

}


#leftpart{
	height: fill;
	background-color: brown;
	width: 15%;
	display: inline-block;
	border: solid black 1px;
	padding: 10px;	
	float: left;
	overflow: auto;
}


#rightpart{
	height: fill;
	background-color: green;
	width: 15%;
	float: right;
	display: inline-block;
	padding: 10px;
	border: solid black 1px;
	float: right;
	overflow: auto;
}

#heading{
	font-size: 2em;
	text-align: center;
	color: red;
	overflow: auto;
}

h1{
	text-align: center;
	font-weight: bold;
	overflow: auto;

}

#mainpart img{
	background-position: center;
	width: 100%;
	padding: 20px;

}

